header
{
    background-color: var(--corPrincipal);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 180px 0 40px;
    margin-bottom: 80px;
}
.avatar
{
    width: 240px;
    height: 240px;
    border-radius: 50%;
}
.name
{
    padding-top: 8px;
    font-size: 24px;
    color: var(--corSecundaria);
}